<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #form {
            width: 500px;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>
<div id="form">
    <form th:action="@{/save}" method="post" th:object="${bookBrrow}">
        <table>
            <tr>
                <td>Book ID</td>
                <td>
                    <span th:text="${book.getIdBook()}"></span>
                    <input type="hidden" th:value="${book.idBook}" name="bookId">
                </td>
            </tr>
            <tr>
                <td>BookBorrower ID</td>
                <td>
                    <span th:text="${idRadom}"></span>
                    <input hidden th:value="${idRadom}" name="id">
                </td>
            </tr>
            <tr>
                <td>Name Book : </td>
                <td><span th:text="${book.getBookName()}"></span></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Rent">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>