:root{
    --color-text-head: white;
}
.content-slider{
    display:flex ;
    justify-content: center;
  }
  .container-slider{
    width: 80%;
    height: 400px;

  }
  div#carouselExampleIndicators {
    height: 100%;
  }
  .carousel-inner{
      width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rounded-pill {
    border-radius: 50px;
  }
  .main-menu{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo-left{
    width: 100px;
  }
  .logo-left img{
    width: 100%;
  }
  .contain-menu ul{
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .contain-menu ul li{
    list-style: none;
    margin-right: 15px;
  }
  .contain-menu ul li a{
    text-decoration: none;
    color: var(--color-text-head);
    padding: 5px 10px;
   
    border-radius: 5px;
  }
  .contain-menu ul li a:hover{
    background-color: rgb(236, 103, 14);
  }

.search-menu
{
    border-radius: 30px;
    background-color: var(--color-text-head);
}
.search-menu input{
    border:none;
    outline: none;
    border-radius: 30px;
    padding: 5px 15px;
}
.search-menu button{
    height: 100%;
    width: 50px;
    background-color: orange;
    padding: 5px;
    border: none;
    color: var(--color-text-head);
    border-radius: 5px 30px 30px 5px;
    font-weight: bold;
}