.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.pagination a.active button {
    background-color: #007bff;
    color: white;
}
.form {
    width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}