<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      #form {
        width: 500px;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
    </style>
</head>
<body>
<div id="form">
    <form th:action="@{/save}" method="post" th:object="${product}">
        <table>
            <tr>
                <td>ID</td>
                <td th:if="${action == 'create'}">
                    <input type="text" th:field="*{id}"/>
                </td>
                <td th:if="${action == 'edit'}">
                    <span th:text="*{id}"></span>
                    <input type="hidden" th:field="*{id}">
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Cost</td>
                <td><input type="text" th:field="*{cost}"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>Procuder</td>
                <td><input type="text" th:field="*{producer}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Create">
                </td>
            </tr>
        </table>
    </form>
    <input type="hidden" name="action" th:value="${action}">
</div>
</body>
</html>